@import "tailwindcss";


:root {
  --color-coral: #FF8552;
  --color-asparagus: #60993E;
  --color-cream: #F2F7F2;
  --color-cream-semi: #f2f7f296;
  --color-blue: #2E86AB;
  --color-space: #1A1B41;
  --color-charcoal: #171717;
  --color-gray-dark: #363636;

  --background: var(--color-cream);
  --foreground: var(--color-space);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-crete: var(--font-crete-round);
  --font-monst: var(--font-monsterrat-alt);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-space);
    --foreground: var(--color-cream);
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Helvetica, Arial, sans-serif;
}

* {
  /* border: 1px solid red; */
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--foreground);
  border-radius: 20px;
  margin: 3vh 3vw;
  padding: 1vh;
  width: 100%;
}

.data-description {
  font-size: clamp(14pt, 2vw, 20pt); 
  opacity: 0.6;
}

.data-label {
  font-family: var(--font-zain);
  font-size: clamp(14pt, 2vw, 20pt);
}

.data-value-big {
  display: flex;
  font-size: clamp(18pt, 3vw + 1.5rem, 52pt);
  align-items: baseline;
}

.data-label-small {
  font-size: clamp(9pt, 1.5vw + 1rem, 26pt);
}

.data-label-small.degree {
  padding: 1vh .5vh;
  align-self: flex-start;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}